<footer class="s-footer">

    <div class="c-columns">
        <div class="c-column">
            <h3 class="f-heading-s">Luxe Fashion </h3>
            <ul>
              <li><a href="">About</a></li>
<li><a href="">What's New</a></li>
<li><a href="">All Brands</a></li>
<li><a href="">More</a></li>
<li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="c-column">
            <h3 class="f-heading-s">Our Work</h3>
            <ul>
                <li><a href="">Dashing &#038; Daring</a></li>
<li><a href="">Stylish &#038; Sophisticated</a></li>
<li><a href="">Splattering &#038; Dreaming</a></li>
<li><a href="">Fresh &#038; Fabulous</a></li>
<li><a href="">Luxe Originals</a></li>
<li><a href="">All Design Projects</a></li>
<li><a href="">Testimonials</a></li>
            </ul>
        </div>
        <div class="c-column">
            <h3 class="f-heading-s">In the Media</h3>
            <ul>
                <li><a href="">Books</a></li>
<li><a href="">Magazines</a></li>
<li><a href="">Videos</a></li>
            </ul>
        </div>
        <div class="c-column">
            <h3 class="f-heading-s">Social</h3>
            <ul>
                <li><a data-router-disabled target="_blank" rel="nofollow" href="">Instagram</a></li>
                <li><a data-router-disabled target="_blank" rel="nofollow" href="">Pinterest</a></li>
                <li><a data-router-disabled target="_blank" rel="nofollow" href="">Facebook</a></li>
                <li><a data-router-disabled target="_blank" rel="nofollow" href="">LinkedIn</a></li>
                <li><a data-router-disabled target="_blank" rel="nofollow" href="">Houzz</a></li>
            </ul>
        </div>
        <div class="c-column">
            <h3 class="f-heading-s">Address</h3>
            <ul>
                <li><a data-router-disabled target="_blank" rel="nofollow" href="">Amsterdaam 200</a></li>
                <li><a data-router-disabled target="_blank" rel="nofollow" href="">2051 GL lovelgeen</a></li>
                <li><a data-router-disabled target="_blank" rel="nofollow" href="tel:+91233030363">+31 23 303 03 43</a></li>
                <li><a data-router-disabled target="_blank" rel="nofollow" href="">luxefashion.com</a></li>
            </ul>
        </div>
    </div>

    <div class="c-columns">
        <div class="c-column">
            <h3 class="f-chapeau">Reach Us</h3>
            <ul class="awards" style="padding: 0;margin:40px 0;height: 10vh;">
                <li> <i class="fa-brands fa-instagram fa-3x"></i></li>
                <li><i class="fa-brands fa-twitter fa-3x"></i></li>
                <li><i class="fa-brands fa-youtube fa-3x"></i></li>
            </ul>
        </div>
    </div>

    <div class="c-columns">
        <div class="c-column">
            <ul>
                <li><span>&copy; 2023 - All rights reserved &mdash; </span>Luxe Fashion</li>
            </ul>
        </div>
        <div class="c-column">
            <ul>
                <li><a target="_blank" rel="nofollow" href="">Handcrafted with love &mdash; Luxeovium</a></li>
            </ul>
        </div>
        <div class="c-column">
            <ul>
                <li><a href="">Luxe club</a></li>
            </ul>
        </div>
        <div class="c-column">
            <ul>
                	<li class="lang-item lang-item-2 lang-item-en lang-item-first current-lang"><a lang="en-GB" hreflang="en-GB" href="">English</a></li>
	<li class="lang-item lang-item-5 lang-item-nl"><a lang="nl-NL" hreflang="nl-NL" href="">Nederlands</a></li>
            </ul>
        </div>
    </div>

</footer>